@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url("https://use.typekit.net/qqu6bzb.css");
@import url(https://fonts.googleapis.com/css?family=Seymour+One:regular);
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
article,
textarea,
select {
  font: inherit;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --clr-decor-1: #92e192;
  --clr-decor-2: #52a85e;
  --clr-title-1: #222222;
  --clr-title-2: #333333;
  --clr-title-3: #666666;
  --clr-title-4: #323232;
  --clr-text-main: #565656;
  --clr-menu-link: #09162a;
  --clr-white: #ffffff;
  --clr-white-transp: #ffffffe6;
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "muli", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 0.9375rem;
  color: var(--clr-text-main);
  line-height: 1.4;
  background-color: var(--clr-white);
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 12px 30px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2;
  line-height: 1.6;
  border: 2px solid;
  border-image-slice: 2;
  border-width: 2px;
  border-image-source: linear-gradient(to right, #92e192, #52a85e);
}
.btn:hover {
  color: var(--clr-white);
  background: -webkit-gradient(linear, left top, right top, from(#92e192), to(#52a85e));
  background: -o-linear-gradient(left, #92e192, #52a85e);
  background: linear-gradient(to right, #92e192, #52a85e);
}
.btn .title {
  text-align: center;
  color: var(--clr-title-primary);
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 1.25rem;
  position: relative;
  padding-top: 80px;
}
.btn .title span {
  font-weight: 600;
}
.btn .section {
  padding-top: 2.5rem;
}

.title {
  font-family: var(--ff-secondary);
  font-size: 2rem;
  font-weight: 200;
  color: var(--clr-title-1);
  letter-spacing: 1.2px;
  text-align: center;
  margin-bottom: 2.5rem;
}

.subtext {
  position: relative;
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-title-2);
  letter-spacing: 2px;
  margin-bottom: 2.5rem;
}
.subtext::after {
  position: absolute;
  content: "";
  background-color: var(--clr-decor-1);
  width: 46px;
  height: 2px;
  bottom: -7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section {
  padding: 6.25rem 0;
}
@media screen and (max-width: 65.625rem) {
  .section {
    padding: 4.375rem 0;
  }
}
@media screen and (max-width: 47.8125rem) {
  .section {
    padding: 2.5rem 0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../images/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}
.header__top {
  position: fixed;
  top: 0;
  width: 100%;
  color: var(--clr-title-1);
  background-color: rgba(255, 255, 255, 0.5098039216);
  padding: 0.75rem 0;
  z-index: 10;
}
@media screen and (max-width: 73.75rem) {
  .header__top {
    background-color: var(--clr-white);
  }
}
.header__top--active {
  background-color: #fff;
  border-bottom: 1px solid rgba(234, 234, 234, 0.8);
  -webkit-box-shadow: 0 0 5px rgba(213, 212, 212, 0.9137254902);
          box-shadow: 0 0 5px rgba(213, 212, 212, 0.9137254902);
}
.header__cart {
  padding: 0.125rem 1.25rem 0.125rem 0;
  border-right: 1px solid rgba(47, 50, 57, 0.2);
}
@media screen and (max-width: 73.75rem) {
  .header__cart {
    display: none;
  }
}
.header__search-img {
  width: 1.125rem;
  height: 1.125rem;
  stroke: var(--clr-title-2);
  -webkit-transition: stroke 0.4s;
  -o-transition: stroke 0.4s;
  transition: stroke 0.4s;
}
.header__search-img:hover {
  stroke: var(--clr-decor-1);
}
.header__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
}
@media screen and (max-width: 73.75rem) {
  .header__shop {
    display: none;
  }
}
.header__center {
  padding: 21.875rem 0 12.5rem 0;
  margin: auto 0;
  color: var(--clr-white);
}
.header__info {
  max-width: 46.25rem;
  margin-bottom: 0.625rem;
}
.header__subtitle {
  display: block;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin-bottom: 0.9375rem;
}
.header__info-top {
  display: block;
  font-size: 4.5rem;
  font-weight: 900;
  font-family: var(--ff-secondary);
}
.header__info-bottom {
  display: inline-block;
  color: var(--clr-decor-1);
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 2.1875rem;
}
.header__info-dec {
  border-bottom: 4px solid var(--clr-decor-1);
}
.header__link {
  padding: 22px 46px;
  font-size: 13px;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#92e192), to(#52a85e));
  background: -o-linear-gradient(left, #92e192, #52a85e);
  background: linear-gradient(to right, #92e192, #52a85e);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.header__link:hover {
  color: #000;
  -webkit-filter: grayscale(100%) contrast(200%);
          filter: grayscale(100%) contrast(200%);
}
.header__bottom {
  color: var(--clr-white);
  background-color: rgba(50, 50, 50, 0.4);
}
.header__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.header__item {
  font-family: var(--ff-secondary);
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  padding: 1.875rem 0.9375rem 1.875rem 5rem;
  border: 1px solid rgba(146, 225, 146, 0.1019607843);
  white-space: nowrap;
}
.header__item::before {
  position: absolute;
  content: "";
  left: 1.5625rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.5rem;
  height: 2.375rem;
}
.header__item--1::before {
  background-image: url("../images/icons/support-white.png");
}
.header__item--2::before {
  background-image: url("../images/icons/laptop-white.png");
}
.header__item--3::before {
  background-image: url("../images/icons/rocket-white.png");
}
.header__item--4::before {
  background-image: url("../images/icons/pig-white.png");
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu .burger {
  display: none;
}
@media screen and (max-width: 73.75rem) {
  .menu .burger {
    display: block;
    position: relative;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 44px;
    height: 44px;
    margin-right: 0.3125rem;
    z-index: 100;
  }
  .menu .burger__item {
    position: absolute;
    width: 34px;
    height: 1px;
    right: 0;
    background-color: #000;
    top: 22px;
    -webkit-transition: scale 0.2s;
    -o-transition: scale 0.2s;
    transition: scale 0.2s;
  }
  .menu .burger::before, .menu .burger::after {
    position: absolute;
    width: 34px;
    height: 1px;
    right: 0;
    background-color: rgb(15, 15, 15);
  }
  .menu .burger::before, .menu .burger::after {
    content: "";
    -webkit-transition: -webkit-transform 0.2s ease-out;
    transition: -webkit-transform 0.2s ease-out;
    -o-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  }
  .menu .burger::before {
    top: 11px;
  }
  .menu .burger::after {
    bottom: 11px;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.125rem;
  font-family: var(--ff-secondary);
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--clr-menu-link);
  margin-right: 0.9375rem;
}
@media screen and (max-width: 73.75rem) {
  .menu__list {
    display: none;
  }
}
.menu__link {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.menu__link--drop {
  padding-bottom: 3.125rem;
}
.menu__link:hover {
  color: var(--clr-decor-1);
}
.menu__item {
  position: relative;
}
.menu__item:hover .dropdown {
  display: block;
}
.menu .dropdown {
  display: none;
  position: absolute;
  top: 4.0625rem;
  left: -1.875rem;
  background-color: #f6f6f6;
  color: #242424;
  font-weight: 200;
  text-transform: none;
  white-space: nowrap;
  border-top: 3px solid var(--clr-decor-1);
  font-size: 0.875rem;
  z-index: -1;
}
.menu .dropdown__item {
  padding: 0.9375rem 3.4375rem 0.9375rem 1.875rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.menu .dropdown__item:not(:last-child) {
  border-bottom: 1px solid rgba(47, 50, 57, 0.2);
}
.menu .dropdown__item:hover {
  background-color: var(--clr-decor-1);
  padding-left: 60px;
  overflow-x: hidden;
}

.logo__img {
  max-width: 5.375rem;
}

.cart {
  font-size: 0.6875rem;
  position: relative;
}
.cart__counter {
  line-height: 1.6;
  position: absolute;
  top: -20px;
  left: 10px;
  text-align: center;
  background-color: var(--clr-menu-link);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: var(--clr-white);
}
.cart__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 0.625rem;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}
.cart__inner:hover, .cart__inner:hover svg {
  color: var(--clr-decor-1);
  stroke: var(--clr-decor-1);
}
.cart__img {
  width: 1.125rem;
  height: 1.125rem;
  stroke: var(--clr-title-2);
  stroke-width: 1px;
  -webkit-transition: stroke 0.4s;
  -o-transition: stroke 0.4s;
  transition: stroke 0.4s;
}

.service__title span {
  font-weight: 700;
}
.service__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}
.service .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: 1px solid #eee;
  overflow: hidden;
}
.service .card__img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.service .card__img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.service .card__info {
  position: relative;
  padding: 7.1875rem 2.5rem 1.875rem;
}
.service .card__info::before {
  position: absolute;
  content: "";
  width: 4rem;
  height: 4rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 1.875rem;
}
.service .card__info--1::before {
  background-image: url("../images/icons/employee.png");
}
.service .card__info--2::before {
  background-image: url("../images/icons/consultant.png");
}
.service .card__info--3::before {
  background-image: url("../images/icons/calendar.png");
}
.service .card__info--4::before {
  background-image: url("../images/icons/contract.png");
}
.service .card__info--5::before {
  background-image: url("../images/icons/employee.png");
}
.service .card__info--6::before {
  background-image: url("../images/icons/wall-clock.png");
}
.service .card__info--7::before {
  background-image: url("../images/icons/employee.png");
}
.service .card__info--8::before {
  background-image: url("../images/icons/file.png");
}
.service .card__info--9::before {
  background-image: url("../images/icons/magnifying-glass.png");
}
.service .card__title {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--clr-decor-2);
  margin-bottom: 1.25rem;
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.service .card__title:hover {
  color: var(--clr-decor-1);
}

.owner {
  background-color: #2f3239;
  color: var(--clr-white);
}
.owner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 70.625rem) {
  .owner__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.owner__title {
  text-align: left;
  color: inherit;
}
.owner__title span {
  color: var(--clr-decor-1);
}
.owner__img {
  margin-right: 2.1875rem;
}
@media screen and (max-width: 70.625rem) {
  .owner__img {
    margin-right: 0;
    margin-bottom: 6.25rem;
  }
}
.owner__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.5625rem;
}
.owner__items span {
  display: block;
  font-size: 2.25rem;
  font-family: var(--ff-secondary);
  margin-bottom: 1.875rem;
}
.owner__item {
  font-size: 1.25rem;
}
.owner__item--green {
  color: var(--clr-decor-1);
}
.owner__item--bold {
  font-weight: 800;
  padding-top: 1.875rem;
}
@media screen and (max-width: 70.625rem) {
  .owner__item--bold {
    margin-bottom: 1.875rem;
  }
}
.owner__link {
  padding: 18px 46px;
  font-size: 13px;
  letter-spacing: 1.5px;
  font-weight: 600;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left top, right top, from(#92e192), to(#52a85e));
  background: -o-linear-gradient(left, #92e192, #52a85e);
  background: linear-gradient(to right, #92e192, #52a85e);
  background-color: transparent;
  white-space: nowrap;
}
.owner__link:hover {
  background: var(--clr-decor-2);
}

.about__text {
  font-size: 1.125rem;
  color: var(--clr-title-2);
  max-width: 50rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5.625rem;
}
.about__text span {
  font-weight: 600;
}
.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 4.375rem;
  line-height: 1.7;
}
.about__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 85px;
}
.about__item::before {
  position: absolute;
  content: "";
  width: 3.9375rem;
  height: 3.75rem;
  left: 0;
  top: -25px;
}
.about__item--1::before {
  background-image: url("../images/icons/analytics.png");
}
.about__item--2::before {
  background-image: url("../images/icons/consultant.png");
}
.about__item--3::before {
  background-image: url("../images/icons/saving.png");
}
.about__subtitle {
  position: relative;
  font-size: 1.375rem;
  font-family: var(--ff-secondary);
  margin-bottom: 2.1875rem;
}
.about__subtitle::after {
  position: absolute;
  content: "";
  width: 3.125rem;
  height: 0.125rem;
  bottom: -10px;
  left: 0;
  background-color: #e5e5e5;
}
.about .advantage {
  background-color: #2f3239;
  color: var(--clr-white);
}
.about .advantage__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  gap: 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem 0;
}
.about .advantage__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 5.3125rem;
}
.about .advantage__item::before {
  position: absolute;
  content: "";
  width: 3.9375rem;
  height: 3.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
}
.about .advantage__item--1::before {
  background-image: url("../images/icons/consultant.png");
}
.about .advantage__item--2::before {
  background-image: url("../images/icons/analytics.png");
}
.about .advantage__item--3::before {
  background-image: url("../images/icons/rocket.png");
}
.about .advantage__item--4::before {
  background-image: url("../images/icons/saving.png");
}
.about .advantage__subtitle {
  font-size: 1.375rem;
  font-family: var(--ff-secondary);
  margin-bottom: 2.1875rem;
}
.about .advantage__info {
  color: var(--clr-white-transp);
  padding: 0 3.125rem;
}

.situations {
  padding-bottom: 3.125rem;
}
.situations__title {
  margin-bottom: 12.5rem;
}
.situations__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  font-size: 1.125rem;
}
.situations__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: 4.375rem;
  line-height: 1.7;
}
.situations__item::before {
  position: absolute;
  content: "";
  width: 7.125rem;
  height: 8.75rem;
  top: -6.25rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.situations__item--1::before {
  background-image: url("../images/situation/sit-1.png");
}
.situations__item--2::before {
  background-image: url("../images/situation/sit-2.png");
}
.situations__item--3::before {
  background-image: url("../images/situation/sit-3.png");
}
.situations__item--4::before {
  background-image: url("../images/situation/sit-4.png");
}

.testimonies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonies .wrap {
  padding-right: 15px;
}
.testimonies__subtext::after {
  left: 2%;
  background-color: #fff;
}
.testimonies__title {
  -moz-text-align-last: left;
       text-align-last: left;
  margin-bottom: 5.625rem;
}
.testimonies__title span {
  font-weight: 700;
}
.testimonies__left {
  background-image: url("../images/testimony/testimonios-bgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}
.testimonies__right {
  background-color: #5fc56c;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  padding: 4.375rem 2.1875rem;
}
.testimonies__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonies .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 0.625rem;
  max-width: 37.5rem;
  width: 100%;
  margin-left: -5.3125rem;
  font-family: var(--ff-secondary);
  font-size: 1.25rem;
  line-height: 1.7;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
.testimonies .slider__card {
  background-color: #fff;
  padding: 7.5rem 2.8125rem 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  scroll-snap-align: start;
}
.testimonies .slider__text {
  margin-bottom: 2.5rem;
  position: relative;
}
.testimonies .slider__text::before {
  position: absolute;
  content: ",,";
  font-family: "Seymour One";
  font-size: 8.75rem;
  width: 2.8125rem;
  height: 3.4375rem;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 60px;
  left: 35px;
  color: #52a85e;
}
.testimonies .slider__name {
  display: block;
  font-size: 1.125rem;
  font-weight: 900;
  color: var(--clr-title-1);
  line-height: 1;
}
.testimonies .slider__job {
  font-family: var(--ff-primary);
  font-size: 0.8125rem;
  color: var(--clr-decor-2);
}
.testimonies .slider__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.testimonies .slider__client {
  position: relative;
  padding-left: 6.25rem;
}
.testimonies .slider__client::before {
  position: absolute;
  content: "";
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  left: 0;
  bottom: 0;
}
.testimonies .slider__client--1::before {
  background-image: url("../images/testimony/testimonios-female.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.testimonies .slider__star {
  width: 1rem;
  height: 1rem;
  fill: orange;
}
.testimonies .slider-bnts {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.testimonies .slider-btns button {
  background-color: var(--clr-decor-1);
  width: 2.1875rem;
  height: 0.125rem;
}
.testimonies .slider-btns li {
  line-height: 0.8;
}

.blog {
  padding-top: 0;
}
.blog__text {
  text-align: center;
  font-size: 1.125rem;
  color: var(--clr-title-2);
  margin-bottom: 5rem;
}
.blog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.4375rem;
  margin-left: 1.5625rem;
}
.blog__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.blog .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.blog .article__date {
  position: absolute;
  -ms-flex-item-align: start;
      align-self: start;
  background: -webkit-gradient(linear, left top, right top, from(#92e192), to(#52a85e));
  background: -o-linear-gradient(left, #92e192, #52a85e);
  background: linear-gradient(to right, #92e192, #52a85e);
  color: var(--clr-white);
  padding: 0.3125rem 1.25rem 0rem;
  font-size: 1.75rem;
  font-weight: 600;
  top: -1.6875rem;
  left: -1.875rem;
}
.blog .article__date span {
  display: block;
  font-size: 0.75rem;
  text-transform: uppercase;
  padding-bottom: 0.3125rem;
}
.blog .article__img {
  margin-bottom: 1.25rem;
}
.blog .article__category {
  position: relative;
  text-transform: uppercase;
  color: var(--clr-title-3);
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1.3px;
  margin-bottom: 1.875rem;
  padding-left: 35px;
}
.blog .article__category::before {
  position: absolute;
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(#92e192), to(#52a85e));
  background: -o-linear-gradient(left, #92e192, #52a85e);
  background: linear-gradient(to right, #92e192, #52a85e);
  width: 1.875rem;
  height: 0.125rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -15px;
}
.blog .article__title {
  font-family: var(--ff-secondary);
  font-size: 1.5rem;
  color: var(--clr-title-4);
  font-weight: 700;
  margin-bottom: 1.25rem;
}
.blog .article__link {
  text-transform: uppercase;
  color: var(--clr-decor-1);
  font-size: 0.75rem;
  font-weight: 700;
}
.blog .article__arrow {
  fill: var(--clr-decor-1);
  width: 1.375rem;
  height: 1.125rem;
  padding-top: 5px;
}

.subscription {
  background-color: #5fc56c;
  color: var(--clr-white);
  margin-bottom: 2.5rem;
}
.subscription__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscription__img {
  background-image: url("../images/decor-mult.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  width: 70%;
  margin-right: 2.5rem;
}
.subscription__info p:nth-last-of-type(1) {
  margin-bottom: 2.5rem;
}
.subscription__title {
  text-align: left;
  color: var(--clr-white-transp);
}
.subscription__text {
  font-size: 1.125rem;
  line-height: 1.6;
}
.subscription__link {
  padding: 16px 46px;
  font-size: 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  background-color: #50485b;
  white-space: nowrap;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.subscription__link:hover {
  background-color: var(--clr-title-4);
}

.footer {
  color: var(--clr-white);
  background-color: var(--clr-title-4);
  font-size: 1.125rem;
}
.footer__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1490196078);
}
@media screen and (max-width: 73.4375rem) {
  .footer__content {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3.75rem;
  }
}
@media screen and (max-width: 48.75rem) {
  .footer__content {
    grid-template-columns: 1fr;
    padding: 0;
  }
}
.footer__logo {
  display: inline-block;
  margin-bottom: 3.75rem;
}
.footer__logo-img {
  max-width: 9.375rem;
}
.footer__subtitle {
  text-align: left;
  color: var(--clr-white);
  text-transform: uppercase;
}
.footer__subtitle::after {
  left: 0;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.footer__link {
  margin-bottom: 0.9375rem;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.footer__link:hover, .footer__link:hover svg {
  color: var(--clr-decor-1);
  fill: var(--clr-decor-1);
}
.footer__link--mail {
  white-space: nowrap;
  display: block;
  margin-bottom: 3.75rem;
}
.footer__shevron {
  width: 0.625rem;
  height: 1.625rem;
  fill: var(--clr-white);
  padding: 6px 3px 0 0;
}
.footer__payment img:first-of-type {
  margin-bottom: 1.5625rem;
}
.footer__payment, .footer__menu, .footer__shop, .footer__contact {
  margin-bottom: 3.75rem;
}
.footer__facebook {
  padding: 0.9375rem 0.9375rem 0.6875rem;
  background-color: #000;
  border-radius: 3px;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
.footer__facebook:hover {
  background-color: var(--clr-decor-1);
}
.footer__facebook svg {
  fill: var(--clr-white);
  width: 1.125rem;
  height: 1.125rem;
}
.footer__bottom {
  padding-top: 3.125rem;
  text-align: center;
  font-size: 0.9375rem;
}
.footer__copyright {
  margin-bottom: 2.5rem;
}
.footer__bottom-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.4375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__bottom-links li {
  -webkit-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__bottom-links li:not(:last-child) {
  padding: 0 0.4375rem 0 0;
  border-right: 1px solid var(--clr-white);
}
.footer__bottom-links li:hover {
  color: var(--clr-decor-1);
}