@use 'sass:math';

@import '_reset';
@import '_fonts';
@import '_vars';
@import '_mixins';
@import 'global';

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    // @media screen and (max-width: rem(1550)) {
    //     background-image: url('../images/hero-1500.jpg');
    // }

    &__top {
        position: fixed;
        top: 0;
        width: 100%;
        color: var(--clr-title-1);
        background-color: #ffffff82;
        padding: rem(12) 0;
        z-index: 10;

        @media screen and (max-width: rem(1180)) {
            background-color: var(--clr-white);
        }
    }

    &__cart {
        padding: rem(2) rem(20) rem(2) 0;
        border-right: 1px solid rgba(47, 50, 57, 0.20);

        @media screen and (max-width: rem(1180)) {
            display: none;
        }
    }

    &__search-img {
        width: rem(18);
        height: rem(18);
        stroke: var(--clr-title-2);
        transition: stroke 0.4s;

        &:hover {
            stroke: var(--clr-decor-1);
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: rem(25);
    }

    &__shop {
        @media screen and (max-width: rem(1180)) {
            display: none;
        }
    }

    &__center {
        padding: rem(350) 0 rem(200) 0;
        margin: auto 0;
        color: var(--clr-white);
    }

    &__info {
        max-width: rem(740);
        margin-bottom: rem(10);
    }

    &__subtitle {
        display: block;
        font-size: rem(18);
        letter-spacing: 2px;
        margin-bottom: rem(15);
    }

    &__info-top {
        display: block;
        font-size: rem(72);
        font-weight: 900;
        font-family: var(--ff-secondary);
    }

    &__info-bottom {
        display: inline-block;
        color: var(--clr-decor-1);
        font-size: rem(30);
        font-weight: 600;
        margin-bottom: rem(35);
    }

    &__info-dec {
        border-bottom: 4px solid var(--clr-decor-1);
    }

    &__link {
        padding: 22px 46px;
        font-size: 13px;
        letter-spacing: 1.5px;
        font-weight: 600;
        text-transform: uppercase;
        background: linear-gradient(to right, #92e192, #52a85e);
    }

    &__bottom {
        color: var(--clr-white);
        background-color: rgba(50, 50, 50, 0.4);
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

    }

    &__item {
        position: relative;
        padding: rem(30) rem(15) rem(30) rem(80);
        border: 1px solid #92e1921a;
        white-space: nowrap;

        &::before {
            position: absolute;
            content: "";
            left: rem(25);
            top: 50%;
            transform: translateY(-50%);
            width: rem(40);
            height: rem(38);
        }

        &--1::before {
            background-image: url('../images/icons/support-white.png');
        }

        &--2::before {
            background-image: url('../images/icons/laptop-white.png');
        }

        &--3::before {
            background-image: url('../images/icons/rocket-white.png');
        }

        &--4::before {
            background-image: url('../images/icons/pig-white.png');
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .burger {
        display: none;

        @media screen and (max-width: rem(1180)) {
            display: block;
            position: relative;
            order: 1;
            width: 44px;
            height: 44px;
            margin-right: rem(5);
            z-index: 100;

            &__item {
                position: absolute;
                width: 34px;
                height: 1px;
                right: 0;
                background-color: #000;
                top: 22px;
                transition: scale 0.2s;
            }

            &::before,
            &::after {
                position: absolute;
                width: 34px;
                height: 1px;
                right: 0;
                background-color: rgb(15, 15, 15);
            }

            &::before,
            &::after {
                content: "";
                transition: transform 0.2s ease-out;
            }

            &::before {
                top: 11px;
            }

            &::after {
                bottom: 11px;
            }
        }
    }

    &__list {
        display: flex;
        gap: rem(34);
        font-family: var(--ff-secondary);
        font-size: rem(14);
        font-weight: 700;
        text-transform: uppercase;
        color: var(--clr-menu-link);
        margin-right: rem(15);

        @media screen and (max-width: rem(1180)) {
            display: none;
        }
    }

    &__link {
        transition: color 0.3s;

        &:hover {
            color: var(--clr-decor-1);
        }
    }

    &__item {
        position: relative;

        &:hover .dropdown {
            display: block;
        }
    }

    .dropdown {
        display: none;
        position: absolute;
        top: rem(65);
        left: rem(-30);
        background-color: #f6f6f6;
        color: #242424;
        font-weight: 200;
        text-transform: none;
        white-space: nowrap;
        border-top: 3px solid var(--clr-decor-1);
        font-size: rem(14);
        z-index: -1;


        &__item {
            padding: rem(15) rem(55) rem(15) rem(30);

            &:not(:last-child) {
                border-bottom: 1px solid rgba(47, 50, 57, 0.2);
            }
        }
    }
}

.logo {
    &__img {
        max-width: rem(86);
    }
}

.cart {
    font-size: rem(11);
    position: relative;

    &__counter {
        line-height: 1.6;
        position: absolute;
        top: -20px;
        left: 10px;
        text-align: center;
        background-color: var(--clr-menu-link);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: var(--clr-white);

    }

    &__inner {
        display: flex;
        align-items: baseline;
        gap: rem(10);
        transition: color 0.4s;

        &:hover,
        &:hover svg {
            color: var(--clr-decor-1);
            stroke: var(--clr-decor-1);
        }
    }

    &__img {
        width: rem(18);
        height: rem(18);
        stroke: var(--clr-title-2);
        stroke-width: 1px;
        transition: stroke 0.4s;
    }

}

.service {
&__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(30);
}


 .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #eee;

   

    &__info {
        position: relative;
        padding: rem(100) rem(50) rem(30) rem(50);
        &::before {
            position: absolute;
            content: "";
            width: rem(55);
            height: rem(55);
            background-image: url('../images/icons/employee.png');
            left: 50%;
            transform: translateX(-50%);
            top: rem(30);
        }
    }

    &__title {
        display: inline-block;
        font-size: rem(20);
        font-weight: 600;
        color: var(--clr-decor-2);
        margin-bottom: rem(20);
        transition: color 0.3s;
        &:hover {
            color: var(--clr-decor-1);
        }
    }
}   
}


