@use 'sass:math';

@import '_reset';
@import '_fonts';
@import '_vars';
@import '_mixins';
@import 'global';

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    &__top {
        position: fixed;
        top: 0;
        width: 100%;
        color: var(--clr-title-1);
        background-color: #ffffff82;
        padding: rem(12) 0;
        z-index: 10;

        @media screen and (max-width: rem(1180)) {
            background-color: var(--clr-white);
        }
    }

    &__top--active {
        background-color: #fff;
        border-bottom: 1px solid rgba(234, 234, 234, 0.8);
        box-shadow: 0 0 5px #d5d4d4e9;
    }

    &__cart {
        padding: rem(2) rem(20) rem(2) 0;
        border-right: 1px solid rgba(47, 50, 57, 0.20);

        @media screen and (max-width: rem(1180)) {
            display: none;
        }
    }

    &__search-img {
        width: rem(18);
        height: rem(18);
        stroke: var(--clr-title-2);
        transition: stroke 0.4s;

        &:hover {
            stroke: var(--clr-decor-1);
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: rem(25);
    }

    &__shop {
        @media screen and (max-width: rem(1180)) {
            display: none;
        }
    }

    &__center {
        padding: rem(350) 0 rem(200) 0;
        margin: auto 0;
        color: var(--clr-white);

        @media screen and (max-width: rem(920)) {
            padding: rem(200) 0 rem(100) 0;
        }

        @media screen and (max-width: rem(620)) {
            padding: rem(100) 0 rem(50) 0;
        }
    }

    @keyframes fromRightToLeft {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }

        50% {
            opacity: 0.5;
            transform: translateX(-50px);
        }

        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    @keyframes fromLeftToRight {
        0% {
            opacity: 0;
            transform: translateX(200px);
        }

        50% {
            opacity: 0.5;
            transform: translateX(100px);
        }

        100% {
            opacity: 1;
            transform: translateX(0px);
        }
    }

   

    &__info {
        max-width: rem(740);
        margin-bottom: rem(10);
        animation: fromLeftToRight 1.5s linear 1s;
    }

    &__subtitle {
        display: block;
        font-size: rem(18);
        letter-spacing: 2px;
        margin-bottom: rem(15);
        animation: fromRightToLeft 1.5s linear;
    }

    &__info-top {
        display: block;
        font-size: rem(72);
        font-weight: 900;
        font-family: var(--ff-secondary);

        @media screen and (max-width: rem(750)) {
            font-size: rem(42);
        }

        @media screen and (max-width: rem(550)) {
            font-size: rem(30);
        }
    }

    &__info-bottom {
        display: inline-block;
        color: var(--clr-decor-1);
        font-size: rem(30);
        font-weight: 600;
        margin-bottom: rem(35);

        @media screen and (max-width: rem(750)) {
            font-size: rem(22);
        }

        @media screen and (max-width: rem(550)) {
            font-size: rem(16);
        }

    }

    &__info-dec {
        border-bottom: 4px solid var(--clr-decor-1);
    }

    &__link {
        display: inline-block;
        padding: 22px 46px;
        font-size: 13px;
        letter-spacing: 1.5px;
        font-weight: 600;
        text-transform: uppercase;
        background: linear-gradient(to right, #92e192, #52a85e);
        transition: all 0.5s;
        animation: fromBottomToTop 1.5s linear 2s;

        @media screen and (max-width: rem(750)) {
            padding: 16px;
        }

        &:hover {
            color: #000;
            filter: grayscale(100%) contrast(200%);
        }
    }

         @keyframes fromBottomToTop {
             0% {
                 opacity: 0;
                 transform: translateY(50px);
             }
    
             50% {
                 opacity: 0.5;
                 transform: translateY(25px);
             }
    
             100% {
                 opacity: 1;
                 transform: translateY(0px);
             }
         }

    &__bottom {
        color: var(--clr-white);
        background-color: rgba(50, 50, 50, 0.4);
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @media screen and (max-width: rem(760)) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__item {
        font-family: var(--ff-secondary);
        font-size: rem(16);
        font-weight: 600;
        position: relative;
        padding: rem(30) rem(15) rem(30) rem(80);
        border: 1px solid #92e1921a;
        white-space: nowrap;

        @media screen and (max-width: rem(560)) {
            font-size: rem(14);
            padding: rem(20) rem(5) rem(20) rem(70);

        }

        &::before {
            position: absolute;
            content: "";
            left: rem(25);
            top: 50%;
            transform: translateY(-50%);
            width: rem(40);
            height: rem(38);

        }

        &--1::before {
            background-image: url('../images/icons/support-white.png');
        }

        &--2::before {
            background-image: url('../images/icons/laptop-white.png');
        }

        &--3::before {
            background-image: url('../images/icons/rocket-white.png');
        }

        &--4::before {
            background-image: url('../images/icons/pig-white.png');
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .burger {
        display: none;

        @media screen and (max-width: rem(1180)) {
            display: block;
            position: relative;
            order: 1;
            width: 44px;
            height: 44px;
            margin-right: rem(5);
            z-index: 100;

            &__item {
                position: absolute;
                width: 34px;
                height: 1px;
                right: 0;
                background-color: #000;
                top: 22px;
                transition: scale 0.2s;
            }

            &::before,
            &::after {
                position: absolute;
                width: 34px;
                height: 1px;
                right: 0;
                background-color: rgb(15, 15, 15);
            }

            &::before,
            &::after {
                content: "";
                transition: transform 0.2s ease-out;
            }

            &::before {
                top: 11px;
            }

            &::after {
                bottom: 11px;
            }
        }
    }

    &__list {
        display: flex;
        gap: rem(34);
        font-family: var(--ff-secondary);
        font-size: rem(14);
        font-weight: 700;
        text-transform: uppercase;
        color: var(--clr-menu-link);
        margin-right: rem(15);

        @media screen and (max-width: rem(1180)) {
            display: none;
        }
    }

    &__link {
        transition: color 0.3s;

        &--drop {
            padding-bottom: rem(50);
        }

        &:hover {
            color: var(--clr-decor-1);
        }
    }

    &__item {
        position: relative;

        &:hover .dropdown {
            display: block;
        }
    }

    .dropdown {
        display: none;
        position: absolute;
        top: rem(65);
        left: rem(-30);
        width: rem(270);
        background-color: #f6f6f6;
        color: #242424;
        font-weight: 200;
        text-transform: none;
        white-space: nowrap;
        border-top: 3px solid var(--clr-decor-1);
        font-size: rem(14);
        z-index: -1;


        &__item {
            padding: rem(15) rem(55) rem(15) rem(30);
            transition: all 0.3s;


            &:not(:last-child) {
                border-bottom: 1px solid rgba(47, 50, 57, 0.2);
            }

            &:hover {
                color: var(--clr-white);
                background-color: var(--clr-decor-1);
                padding-left: 50px;
            }
        }
    }
}

.logo {
    &__img {
        max-width: rem(86);

        @media screen and (max-width: rem(622)) {
            max-width: rem(46);
        }
    }

}

.cart {
    font-size: rem(11);
    position: relative;

    &__counter {
        line-height: 1.6;
        position: absolute;
        top: -20px;
        left: 10px;
        text-align: center;
        background-color: var(--clr-menu-link);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: var(--clr-white);

    }

    &__inner {
        display: flex;
        align-items: baseline;
        gap: rem(10);
        transition: color 0.4s;

        &:hover,
        &:hover svg {
            color: var(--clr-decor-1);
            stroke: var(--clr-decor-1);
        }
    }

    &__img {
        width: rem(18);
        height: rem(18);
        stroke: var(--clr-title-2);
        stroke-width: 1px;
        transition: stroke 0.4s;
    }

}

.service {

    &__title {
        & span {
            font-weight: 700;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: rem(30);

        @media screen and (max-width: rem(915)) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: rem(680)) {
            grid-template-columns: 1fr;
        }
    }

    .card {
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 1px solid #eee;
        overflow: hidden;
        height: 100%;

        &__img {
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.05);
            }
        }

        &__info {
            flex: 1;
            position: relative;
            padding: rem(115) rem(40) rem(30);

            &::before {
                position: absolute;
                content: "";
                width: rem(64);
                height: rem(64);

                left: 50%;
                transform: translateX(-50%);
                top: rem(30);
            }

            &--1::before {
                background-image: url('../images/icons/employee.png');
            }

            &--2::before {
                background-image: url('../images/icons/consultant.png');
            }

            &--3::before {
                background-image: url('../images/icons/calendar.png');
            }

            &--4::before {
                background-image: url('../images/icons/contract.png');
            }

            &--5::before {
                background-image: url('../images/icons/employee.png');
            }

            &--6::before {
                background-image: url('../images/icons/wall-clock.png');
            }

            &--7::before {
                background-image: url('../images/icons/employee.png');
            }

            &--8::before {
                background-image: url('../images/icons/file.png');
            }

            &--9::before {
                background-image: url('../images/icons/magnifying-glass.png');
            }
        }

        &__title {
            display: inline-block;
            font-size: rem(20);
            font-weight: 600;
            color: var(--clr-decor-2);
            margin-bottom: rem(20);
            transition: color 0.3s;

            &:hover {
                color: var(--clr-decor-1);
            }
        }
    }
}

.owner {
    background-color: #2f3239;
    color: var(--clr-white);

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: rem(1130)) {
            flex-direction: column;
            align-items: start;
        }
    }

    &__title {
        text-align: left;
        color: inherit;

        @media screen and (max-width: rem(580)) {
            font-size: rem(26);
        }

        & span {
            color: var(--clr-decor-1);
        }
    }

    &__img {
        margin-right: rem(35);

        @media screen and (max-width: rem(1130)) {
            margin-right: 0;
            margin-bottom: rem(60);
        }

        @media screen and (max-width: rem(600)) {
            align-self: center;
        }
    }

    &__content {
        flex: 1;
        margin-right: rem(25);
    }

    &__items span {
        display: block;
        font-size: rem(36);
        font-family: var(--ff-secondary);
        margin-bottom: rem(30);

        @media screen and (max-width: rem(580)) {
            font-size: rem(24);
        }
    }

    &__item {
        font-size: rem(20);

        &--green {
            color: var(--clr-decor-1);
        }

        &--bold {
            font-weight: 800;
            padding-top: rem(30);

            @media screen and (max-width: rem(1130)) {
                margin-bottom: rem(30);
            }
        }
    }

    &__link {
        padding: 18px 46px;
        font-size: 13px;
        letter-spacing: 1.5px;
        font-weight: 600;
        text-transform: uppercase;
        background: linear-gradient(to right, #92e192, #52a85e);
        background-color: transparent;
        white-space: nowrap;

        &:hover {
            background: var(--clr-decor-2);
        }
    }
}

.about {

    &__text {
        font-size: rem(18);
        color: var(--clr-title-2);
        max-width: rem(800);
        text-align: center;
        margin: 0 auto;
        margin-bottom: rem(90);

        & span {
            font-weight: 600;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        gap: rem(25);
        margin-bottom: rem(70);
        line-height: 1.7;

        @media screen and (max-width: rem(1140)) {
            flex-direction: column;
            gap: rem(40);
        }
    }

    &__item {
        position: relative;
        flex: 1;
        padding-left: 85px;


        &::before {
            position: absolute;
            content: "";
            width: rem(63);
            height: rem(60);
            left: 0;
            top: -25px;

            @media screen and (max-width: rem(1140)) {
                top: 0;
            }
        }

        &--1::before {
            background-image: url("../images/icons/analytics.png");
        }

        &--2::before {
            background-image: url("../images/icons/consultant.png");
        }

        &--3::before {
            background-image: url("../images/icons/saving.png");
        }
    }

    &__subtitle {
        position: relative;
        font-size: rem(22);
        font-family: var(--ff-secondary);
        margin-bottom: rem(35);

        &::after {
            position: absolute;
            content: "";
            width: rem(50);
            height: rem(2);
            bottom: -10px;
            left: 0;
            background-color: #e5e5e5;
        }
    }

    .advantage {
        background-color: #2f3239;
        color: var(--clr-white);

        &__items {
            display: flex;
            justify-content: space-between;
            text-align: center;
            gap: rem(40);
            flex-wrap: wrap;
            padding: rem(80) 0;
        }

        &__item {
            position: relative;
            flex: 1;
            padding-top: rem(85);

            &::before {
                position: absolute;
                content: "";
                width: rem(63);
                height: rem(60);
                left: 50%;
                transform: translateX(-50%);
                top: 0;
            }

            &--1::before {
                background-image: url("../images/icons/consultant.png");
            }

            &--2::before {
                background-image: url("../images/icons/analytics.png");
            }

            &--3::before {
                background-image: url("../images/icons/rocket.png");
            }

            &--4::before {
                background-image: url("../images/icons/saving.png");
            }
        }

        &__subtitle {

            font-size: rem(22);
            font-family: var(--ff-secondary);
            margin-bottom: rem(35);
        }

        &__info {
            color: var(--clr-white-transp);
            padding: 0 rem(50);

        }
    }
}

.situations {
    padding-bottom: rem(50);

    &__title {
        margin-bottom: rem(70);
    }

    &__items {
        display: flex;
        gap: rem(30);
        font-size: rem(18);

        @media screen and (max-width: rem(1140)) {
            flex-direction: column;
        }
    }

    &__item {
        position: relative;
        flex: 1;
        padding-top: rem(170);
        line-height: 1.7;

        &::before {
            position: absolute;
            content: "";
            width: rem(114);
            height: rem(140);
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            @media screen and (max-width: rem(1140)) {
                top: 0;
            }
        }

        &--1::before {
            background-image: url("../images/situation/sit-1.png");
        }

        &--2::before {
            background-image: url("../images/situation/sit-2.png");
        }

        &--3::before {
            background-image: url("../images/situation/sit-3.png");
        }

        &--4::before {
            background-image: url("../images/situation/sit-4.png");
        }
    }
}

.testimonies {
    display: flex;
    justify-content: space-between;

    .wrap {
        padding-right: 15px;
    }

    &__subtext::after {
        left: 2%;
        background-color: #fff;
    }

    &__title {
        text-align-last: left;
        margin-bottom: rem(90);

        & span {
            font-weight: 700;
        }
    }

    &__left {
        background-image: url("../images/testimony/testimonios-bgr.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        flex: 1 0 50%;

        @media screen and (max-width: rem(1230)) {
            display: none;
        }
    }

    &__right {
        background-color: #5fc56c;
        flex: 1 0 50%;
        padding: rem(70) rem(35);

        @media screen and (max-width: rem(700)) {
            flex: 1 0 30%;
        }

    }

    &__slider {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: rem(25);

        @media screen and (max-width: rem(880)) {
            flex-direction: column;
            max-width: 80%;

            margin: 0 auto;
        }

    }

    .slider {
        display: flex;
        align-items: start;
        gap: rem(10);
        max-width: rem(600);
        width: 100%;
        margin-left: rem(-85);
        font-family: var(--ff-secondary);
        font-size: rem(20);
        line-height: 1.7;
        overflow-x: auto;
        scroll-snap-type: x mandatory;

        @media screen and (max-width: rem(1230)) {
            margin-left: 0;
        }

        &__card {
            background-color: #fff;
            padding: rem(120) rem(45) rem(40);
            flex: 0 0 100%;
            scroll-snap-align: start;
        }

        &__text {
            margin-bottom: rem(40);
            position: relative;

            &::before {
                position: absolute;
                content: ",,";
                font-family: "Seymour One";
                font-size: rem(140);
                width: rem(45);
                height: rem(55);
                transform: rotate(180deg);
                top: 60px;
                left: 35px;
                color: #52a85e;
            }
        }

        &__name {
            display: block;
            font-size: rem(18);
            font-weight: 900;
            color: var(--clr-title-1);
            line-height: 1;
        }

        &__job {
            font-family: var(--ff-primary);
            font-size: rem(13);
            color: var(--clr-decor-2);
        }

        &__bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media screen and (max-width: rem(670)) {
                flex-direction: column;
                align-items: end;
            }
        }

        &__client {
            position: relative;
            padding-left: rem(100);

            @media screen and (max-width: rem(670)) {
                text-align: right;
            }

            &::before {
                position: absolute;
                content: "";
                width: rem(80);
                height: rem(80);
                border-radius: 50%;
                left: 0;
                bottom: 0;
            }

            &--1::before {
                background-image: url('../images/testimony/testimonios-female.png');
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        &__stars {
            @media screen and (max-width: rem(670)) {
                align-self: end;
            }
        }

        &__star {
            width: rem(16);
            height: rem(16);
            fill: orange;

        }
    }

    .slider-bnts {
        flex: 1;
    }

    .slider-btns button {
        background-color: var(--clr-decor-1);
        width: rem(35);
        height: rem(2);

    }

    .slider-btns li {
        line-height: 0.8;
    }
}

.blog {

    padding-top: 0;

    &__text {
        text-align: center;
        font-size: rem(18);
        color: var(--clr-title-2);
        margin-bottom: rem(80);
    }

    &__items {
        display: flex;
        justify-content: space-between;

        gap: rem(55);
        margin-left: rem(25);

        @media screen and (max-width: rem(980)) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__item {
        flex: 1;
    }

    .article {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;



        &__date {
            position: absolute;
            align-self: start;
            background: linear-gradient(to right, #92e192, #52a85e);
            color: var(--clr-white);
            padding: rem(5) rem(20) rem(0);
            font-size: rem(28);
            font-weight: 600;
            top: rem(-27);
            left: rem(-30);

            & span {
                display: block;
                font-size: rem(12);
                text-transform: uppercase;
                padding-bottom: rem(5);
            }
        }

        &__img {
            margin-bottom: rem(20);
        }

        &__category {
            position: relative;
            text-transform: uppercase;
            color: var(--clr-title-3);
            font-size: rem(12);
            font-weight: 600;
            letter-spacing: 1.3px;
            margin-bottom: rem(30);
            padding-left: 35px;

            &::before {
                position: absolute;
                content: "";
                background: linear-gradient(to right, #92e192, #52a85e);
                width: rem(30);
                height: rem(2);
                top: 50%;
                transform: translateY(-50%);
                left: -15px;
            }
        }

        &__title {
            font-family: var(--ff-secondary);
            font-size: rem(24);
            color: var(--clr-title-4);
            font-weight: 700;
            margin-bottom: rem(20);
            flex: 1;
        }

        &__link {
            text-transform: uppercase;
            color: var(--clr-decor-1);
            font-size: rem(12);
            font-weight: 700;
        }

        &__arrow {
            fill: var(--clr-decor-1);
            width: rem(22);
            height: rem(18);
            padding-top: 5px;
        }
    }

}

.subscription {
    background-color: #5fc56c;
    color: var(--clr-white);
    margin-bottom: rem(40);

    &__content {
        display: flex;
        gap: rem(30);

        @media screen and (max-width: rem(960)) {
            flex-direction: column;
        }
    }

    &__img {
        background-image: url("../images/decor-mult.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right top;
        width: 100%;
        margin-right: rem(40);

        @media screen and (max-width: rem(960)) {
            background-position: center center;
            height: rem(300);

        }

    }

    &__info {
        & p:nth-last-of-type(1) {
            margin-bottom: rem(40);
        }
    }

    &__title {
        text-align: left;
        color: var(--clr-white-transp);
    }

    &__text {
        font-size: rem(18);
        line-height: 1.6;
    }

    &__link {
        padding: 16px 46px;
        font-size: 12px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        background-color: #50485b;
        white-space: nowrap;
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--clr-title-4);
        }
    }
}

.footer {
    color: var(--clr-white);
    background-color: var(--clr-title-4);
    font-size: rem(18);

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: rem(15);
        padding-bottom: rem(20);
        border-bottom: 1px solid #ffffff26;

        @media screen and (max-width: rem(1175)) {
            grid-template-columns: repeat(2, 1fr);
            padding: 0 rem(60);
        }

        @media screen and (max-width: rem(780)) {
            grid-template-columns: 1fr;
            padding: 0;
        }
    }

    &__logo {
        display: inline-block;
        margin-bottom: rem(60);
    }

    &__logo-img {
        max-width: rem(150);
    }

    &__subtitle {
        text-align: left;
        color: var(--clr-white);
        text-transform: uppercase;

        &::after {
            left: 0;
            transform: translateY(0);
        }
    }

    &__link {
        margin-bottom: rem(15);
        transition: all 0.3s;

        &:hover,
        &:hover svg {
            color: var(--clr-decor-1);
            fill: var(--clr-decor-1);
        }
    }

    &__link--mail {
        white-space: nowrap;
        display: block;
        margin-bottom: rem(60);
    }

    &__shevron {
        width: rem(10);
        height: rem(26);
        fill: var(--clr-white);
        padding: 6px 3px 0 0;
    }

    &__payment img:first-of-type {
        margin-bottom: rem(25);
    }

    &__payment,
    &__menu,
    &__shop,
    &__contact {
        margin-bottom: rem(60);
    }

    &__facebook {
        padding: rem(15) rem(15) rem(11);
        background-color: #000;
        border-radius: 3px;
        transition: background-color 0.4s;

        &:hover {
            background-color: var(--clr-decor-1);
        }

        & svg {
            fill: var(--clr-white);
            width: rem(18);
            height: rem(18);
        }
    }

    &__bottom {
        padding-top: rem(50);
        text-align: center;
        font-size: rem(15);
    }

    &__copyright {
        margin-bottom: rem(40);
    }

    &__bottom-links {
        display: flex;
        flex-wrap: wrap;
        gap: rem(7);
        align-items: center;
        justify-content: center;

        & li {
            transition: color 0.3s;
        }

        & li:not(:last-child) {
            padding: 0 rem(7) 0 0;
            border-right: 1px solid var(--clr-white);
        }

        & li:hover {
            color: var(--clr-decor-1);
        }
    }

}